# Telegram
TELEGRAM_TOKEN=your_telegram_bot_token_here
TELEGRAM_CHAT_ID=your_telegram_chat_id_here

# Bybit API (опционально, для получения точных цен)
BYBIT_API_KEY=
BYBIT_API_SECRET=

# Настройки
CHECK_INTERVAL=20